[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
luigi = "*"
google-cloud-storage = "*"
google-auth = "*"
google-api-python-client = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
